@model IEnumerable<Eshop.Application.Cart.GetCart.Response>
@{
}

<div>
    <p class="title">Cart</p>
    @foreach (var product in Model)
    {
        <article class="media">
            <figure class="media-left">
                <div class="level-item has-text-centered">
                        @{
                            var imagePath = "";
                            imagePath = @"/images/" + product.ImageName;
                        }
                        <img src="@imagePath" alt="" style="height: 128px;"/>
                </div>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p class="title">@product.Name</p>
                    <div class="level">
                        <div class="level-item">Qty: @product.Qty</div>
                        <div class="level-item">Size: @product.Description</div>
                        <div class="level-item">Price: @product.Value</div>
                    </div>
                </div>
            </div>
        </article>
    }
</div>